/*nb of classes:10 / nb of ids:1 */

@font-face {
    font-family: 'Pixel Cowboy';
    src: url("fonts/PixelCowboy-l7we.ttf");
}


*{
    box-sizing: border-box;
    color:#e7e6b3;
}

code{
    background-color: rgb(37, 37, 37);
    color: rgb(84, 158, 243);
    padding: 4px;
    border: 1px solid black;
}

::selection{
    color: #280828;
    background: white;
}

p{
    font-size: 20px;
}

ul{
    font-size: 20px;
}

span{
    font-weight: bold;
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: inherit;
    padding-left: 8px;
    padding-right: 8px;
}

a:hover {
    color: white !important;
    background-color: #876DEF;
    text-decoration: underline;
}

#current{
    color: blueviolet;
}


body{
    background: url("images/pattern.png");
    background-size:10%;
    background-position: top right;
    
}



.cent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}



.mainbox {
    width: 2000px;
    max-width: 90%;
    height: auto;
    background: #280828;
    border-radius: 1px;
    padding:2vw;
    box-shadow:
    0 0 0 10px #492d9c,
    0 0 0 18px #0957ff, 
	0 0 0 22px #0cb2ff, 
	0 0 0 26px #28265e; 
    

  }



.topmenu{
    font-family: 'Pixel Cowboy';
    text-align: center;
}

.topmenu h1{
    font-size: 60px;
    letter-spacing: 2px;
}

.topmenu nav{
    font-size: 50px;
    
}


.cont{
    padding-top: 1vw;
    line-height: 1.5;

}


.fcont{
    padding-top: 1vw;
    display: flex;
    justify-items: center;
}

.fcont h1 ,.cont h1{
    text-decoration: underline;
}

.text{
    align-items: center;
    flex-direction: column;
    display: flex;
}

.cent_pic{
    display:block;
    margin-top: 20px;
}

.pic{
    width: 600px;
    max-height:400px;
    max-width: 100%;
    height: auto;
    margin-right: 2vw;
    margin-bottom: 1.5vw ;
}

.invi_one{
    height: 22px;
    width: 90vw;
    margin-top: 3vh;
}

.invi_two{
    height: 22px;
    width: 90vw;
    margin-bottom: 3vh;
}

table,td,th{
    border: 2px solid white;
    font-size: 20px;
}

td,th{
    padding: 5px;
    text-align: center;
}


@media screen and (max-width:1018px){
    .pic{
        width: 100%;
    }
    .fcont{
        flex-direction: column;
    }

    .topmenu nav{
        font-size: 5.5vw;
        justify-content: center;
        flex-direction: row;
        display: flex;
    }

    .topmenu h1{
        font-size: 50px;
    }

    .mainbox{
        width: 90%;
    }
}
